.news {
    padding: 80px 0;
    background: #EDEDED;

}

.news__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 30px;
    
}
.news__container{
    max-width: 1128px;
}

.news__item {
    width: 360px;
    margin-top: 40px;
    background: #1D1D1D;
    color: #fff;
    position: relative;
   &:hover{
    &::before{
        width: 360px;
        height: 284px;
        position: absolute;
        content: '';
        background: url(../../../img/newsrec.png);
        top: 0;
    }
    &::after{
        width: 168px;
        height: 74px;
        position: absolute;
        content: '';
        background: url(../../../img/logo.png) no-repeat center center;
        top: 100px;
        left: 100px;
    }
   }
}


.news__date {
    color: #C53720;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0em;
    margin-left: 20px;
    margin-top: 10px;
}

.news__text {
    font-size: 1.6rem;
    line-height: 20px;
    letter-spacing: 0em;
    margin: 20px;
    margin-bottom: 40px;
}
.news__button{
    background: transparent;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
.news__button-wrapper{
    text-align: center;
}
.news_wrapper{
    width: 100%;
    font-size: 1.5rem;
    img{
        width: 100%;
        height: 25rem;
    }
    .news_wrapper_date{
        padding: 2rem 0;
        color: var(--color-brand--1);
        text-align: start;
    }
    .news_wrapper_desc{
        text-align: start;
        padding-bottom: 4rem;
    }
   }