.list_area{
    color: var(--color-white);
    width: 100%;
    background-color: rgb(194, 194, 194);
    font-size: 1.2rem;
  }
  .list{
    width: 100%;
  }
  .item{
    width: 100%;
  }
  .item_button{
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &:hover{
      background-color: var(--color-brand--2);
    }
  }
  .active{
    background-color: var(--color-brand--2);
  }
  .not_active{
    background-color: var(--color-black);
  }
  .dropdown{
    background: url(../../img/dropaft.svg);
    width: 2rem;
    height: 2rem;
    transform: rotate(90deg);
    transition: 0.1s all;
    cursor: pointer;
  }
  .dropright{
    @extend .dropdown;
    transform: rotate(0deg);
  }

.filter_comp{
    width: 100%;
    margin-top: 1rem;
    font-weight: 400;
    background-color: var(--color-brand--2);
    .filter_title{
        width: 100%;
        padding: 1.5rem 1rem;
        background-color: var(--color-black);
    }
    .btn_sector{
        width: 100%;
        padding: 2rem 1rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
        background-color: var(--color-black);
    }
    .input_sector{
        width: 100%;
        display: flex;
        justify-content: space-between;
        input{
            width: 11.4rem;
            height: 3.6rem;
            border: 2px solid var(--color-brand--2);
            padding: 0px 0.5rem;
            outline: none;
        }
    }
    .price_range{
        width: 100%;
        position: relative;
        padding: 0 1rem;
        background-color: var(--color-brand--3);
    }
    .status_sector{
        width: 100%;
        padding: 1rem;
        background-color: var(--color-brand--3);
        .sector{
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            #checkbox{
                width: 2rem;
                height: 2rem;
            }
            label{
                margin-left: 1rem;
            }
        }
    }
    .footer_des{
        padding: 1rem;
        background-color: var(--color-brand--1);
    }
}