
.contact_section{
    width: 100%;
    padding: 5rem 0;
}
.contact_sector{
    width: 100%;
    display: flex;
    min-height: 40rem;
}

@media (max-width: 576px) {
    .contact_sector{
        flex-direction: column;
        gap: 1rem;
    }
  }