.Card{
    width: 100%;
    padding: 4rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact_section,.contact_list{
    margin-top: 3rem;
}

.contact_item{
    display: flex;
    width: 100%;
    gap: 2rem;
    margin: 2rem 0;
}
@media (max-width: 576px) {
    .Card{
        flex-direction: row;
        align-items: flex-start;
    }
    .contact_section{
        margin-top: 0;
    }
}